html,body{height:100%;margin:0;padding:0; background: #e9edf0;}
*{margin:0;padding:0;}

body {
    font: 12px/18px STHeiti,'Microsoft YaHei',arial,\5b8b\4f53;
    color: #333;
}

.fndpwd_container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px  0px  0px -300px;
    height:240px;
    width: 600px;
    background: #f7ffec;
    border-radius: 5px;
}

.fnd_tips{
    margin: 10px 10px;
}
.fndpwd_container input,.fndpwd_container_modify input{
    width: 500px;
    margin: 20px 0 20px 50px;
}

.fndpwd_container button,.fndpwd_container_modify button{
    margin-left: 250px;
}

.email-label{
    margin: 10px 10px;
}

.fndpwd_container_modify{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px  0px  0px -300px;
    height:300px;
    width: 600px;
    background: #f7ffec;
    border-radius: 5px;
}

.messageBox{
	height:52px;
	width:100%;
	background:#7ADD9E;
	text-align:center;
	display:none;
	position:fixed;
	z-index:1050;
	top:0px;
	left:0px;
	color:white;
	padding-top:15px;
}